@font-face {
  font-family: "iconfont"; /* Project id 3837954 */
  src: url('iconfont.woff2?t=1674209392466') format('woff2'),
       url('iconfont.woff?t=1674209392466') format('woff'),
       url('iconfont.ttf?t=1674209392466') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-system:before {
  content: "\e60f";
}

.icon-delete:before {
  content: "\e6d5";
}

.icon-complete:before {
  content: "\e613";
}

.icon-add:before {
  content: "\e752";
}

.icon-writing1:before {
  content: "\e61c";
}

.icon-writing:before {
  content: "\e605";
}

.icon-diary1:before {
  content: "\e60e";
}

.icon-book-keeping:before {
  content: "\e6bd";
}

.icon-moves-records:before {
  content: "\e617";
}

.icon-user:before {
  content: "\e647";
}

.icon-dir-right:before {
  content: "\e6c3";
}

.icon-dir-bottom:before {
  content: "\e6c4";
}

.icon-fangxiangshang-top:before {
  content: "\e6c5";
}

